<app-user-navbar></app-user-navbar>  
<legend style="text-align:center;"><h1><b>DASHBOARD</b></h1></legend>

    <div class="container" id="userDashboard" style="width:100%; height:600px;">
        <table class="table_dashboard" style="text-align:center;">
          <thead>
              <tr>
                <th>COMPANY NAME</th><br><br>
                <th>ADDRESS</th><br><br>
                <th>MOBILE NUMBER</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let character of characters">
              <td><a id="abc" routerLink="/companydetails">{{ character.name}}</a></td><br><br>
              <td>{{ character.address }}</td><br><br>
              <td>{{ character.mobile}}</td><br><br>
              
            </tr><br><br><br>
          </tbody><br>
        </table><br>
      </div>  
