
<legend style="text-align:center;"><h1><b>EDIT PROFILE</b></h1></legend>
<!-- <nav><a routerLink="/user/profile">Back</a></nav><br> -->
<!-- <img src=""/> -->
<!-- <button class="button">Edit Profile</button><br><br> -->
<table class="center" id="userProfileBody">
    <nav><a routerLink="/user/profile">Back</a></nav><br>
<img src=""/>
    <button class="button">Edit Profile</button><br><br>
    <tr>
        <td><label>Name:</label></td>
        <td><input type="text" name="name" id="name"/><td>
    </tr><br>
    <tr>
        <td> <label> Email: </label> </td>
        <td><input type="email" name="email" id="email" maxlength="50" /> </td>
    </tr><br>
    <tr>
        <td><label>Password:</label></td>
        <td><input type="password" name="pass" id="password" minlength="8"/></td>
    </tr><br>
    <tr>
        <td><label>Age:</label></td>
        <td><input type="number" name="age" id="age" /><td>
    </tr><br>
    <tr>
        <td> <label>Mobile Number </label> </td>
        <td><input type="tel" name="mobilenumber"id="mobilenumber"  maxlength="50" /> </td>
    </tr><br>
</table>
    
