<p>user-profile-edit works!</p>
<nav><a routerLink="/user/profile">Back</a></nav>
<img src=""/>
<button class="button">Edit Profile</button>
<table class="center" id="userProfileBody">
    <tr>
        <td><label>Name:</label></td>
        <td><input type="text" name="name" id="name"/><td>
    </tr>
    <tr>
        <td> <label> Email: </label> </td>
        <td><input type="email" name="email" id="email" maxlength="50" /> </td>
    </tr>
    <tr>
        <td><label>Password:</label></td>
        <td><input type="password" name="pass" id="password" minlength="8"/></td>
    </tr>
    <tr>
        <td><label>Age:</label></td>
        <td><input type="number" name="age" id="age" /><td>
    </tr>
    <tr>
        <td> <label>Mobile Number </label> </td>
        <td><input type="tel" name="mobilenumber"id="mobilenumber"  maxlength="50" /> </td>
    </tr>
</table>
    
