<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Neo Bikes</a>
  <a href="#dashboard">Dashboard</a>
  <a href="#profile">Profile</a>
  <a href="#mybookings">My Bookings</a>
  <a href="logout">Logout</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
  
  </a>
</div>
<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
