<html>
<head>
   BikeBooking
</head>
<body style="width:100%; min-height:100%;">
   
 <div class="wrapper" style="padding-top:100px; padding-bottom:200px;">
    
    <div class="login" >
    
    <form class="register" >
        <div class="register_switch" routerLink ="/login"  >
            <!-- <button class="tablinks" style="text-align:center;" onClick="openLogin(event,'User')">User</button>
        
            <button class="tablinks" style="text-align:center;" onClick="openLogin(event,'Admin')">Admin</button> -->

            <input type="radio" name="tab" value="U" id="userTab" routerLink="/login" class="register-switch-input" checked>
            <label for="userTab" class="register-switch-label">User</label>
            <input type="radio" name="tab" value="A" id="adminTab" routerLink="/login" class="register-switch-input">
            <label for="adminTab" class="register-switch-label">Admin</label>
        </div><br><br><br>
        <div class="title" style="text-align:center;" >
            <h2>LOG IN</h2>
            </div>
        <div style="text-align:center;">
            
            <input style="text-align:center;" type="text" id="email" placeholder="Enter User Name"ng-model="student.username" /> <br /><br/>

            
                <input style="text-align:center;" type="password" id="password" placeholder="Enter Password" ng-model="student.password" /> <br/><br />
            
            <nav>
                
                <input type="submit" style="background-color:rgba(255, 166, 0, 0.61); " routerLink ="/dashboard" id="submitButton" value="Submit" />
            </nav>
       <p> New to Booking?</p>
       <nav>
           <a id="userSignupLink" routerLink ="/usersignup">Click here</a>
          
       </nav>
           

       </div>
    </form>
    </div> 
    </div> 


   
</body>
</html>
