<html>
<head>
   BikeBooking
</head>
<body> 
    <h1 class="login">LOG IN</h1>
    <form>
        <div class="tabs">
            <button class="tablinks" onClick="openLogin(event,'User')">User</button>
        </div>
        <div style="text-align:center;">
            <label for="password">Enter User Name</label><br />
            <input style="text-align:center;" type="text" id="email" ng-model="student.username" /> <br /><br/>

            <label for="password">Enter Password</label><br />
                <input style="text-align:center;" type="password" id="password" ng-model="student.password" /> <br/><br />
            
           
        <input type="submit" id="submitButton" value="Submit" />
       
       <p> New to Booking?</p>
       <nav>
        <a href="/signup">clcik here to signup</a><br/>
        </nav>
       </div>
    </form>
    
</body>
</html>